:root {
	--text-color: rgb(255, 255, 255);
	--background-color: rgb(21,71,51);
}

body {
    background-color: var(--background-color);
}


/* Layout */
.grid-container {
	display: grid;
	justify-content: stretch;
	align-content: stretch;
	height: 100vh;
}

.dashboard-heading {
	grid-column: span 2;
}